<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="https://www.google.com">Copyright info</a>
			by <a href="https://www.duronepps.com">Duron Epps</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %> </li>
			</ul>
		</nav>
	</footer>
</div>